/***************CONTENT SECTION***************/

/*Custom font for logo*/
@font-face {
    font-family: 'OogieBoogie';
    src: url('OogieBoogie.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



/*Template starts here*/
.logo img {
    float: left;
    width: 350px;
    height: 350px;
}
.logo h1 {
    position: absolute;
    left: 800px;
    font-family: 'OogieBoogie', "Palatino Linotype", monospace;
    font-size: 10rem;
    font-weight: 300;
    color: saddlebrown;
    text-shadow: 1px 1px 3px white;
}

.logo p {
    position: absolute;
    top: 140px;
    left: 800px;
    font-family: 'OogieBoogie', "Palatino Linotype", monospace;
    font-size: 3.5rem;
    font-weight: 150;
    color: limegreen;
    text-shadow: 1px 1px 3px yellow;
}



.middle {
    text-align: center;
    margin: 0 auto;
    font-family: 'Courier', monospace;
    font-size: 3rem;
}


.about h1 {
    text-align: center;
    width: 100%;
    font-family: 'OogieBoogie', "Palatino Linotype", monospace;
    font-size: 4rem;
    font-weight: 100;
    color: lime;
}

/*Template ends here*/


/***************BOXES AND CONTAINERS SECTION***************/

/*Template starts here*/
html {
    padding: 0;
    margin: 0;
    background-color: #4a4a4a;
}


div {
    padding: 10px 0 1px 0;
}


div.container {
    overflow: auto;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #4a4a4a;
    background-image: url("d598225506e8003a5cdbc0c7e910750e.jpg");

}

div.logo {
    overflow: visible;
    display: inline-block;
    position: relative;
    width: 100%;
    height: 20%;
}

div.middle {
    overflow: visible;
    display: inline-block;
    position: relative;
    width: 100%;
}

div.about {
    overflow: visible;
    display: inline-block;
    position: absolute;
    width: 100%;
    bottom: 30px;
}

.button {
    /*Button*/
    border-radius: 25px;
    background-color: #f4511e;
    padding: 15px 32px;
    vertical-align: middle;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 300px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.24),0 12px 30px 0 rgba(0,0,0,0.19);

    /*Text*/
    text-align:center;
    text-decoration: none;
    color: white;
    margin: 0 auto;
    font-family: 'Palatino', 'Palatino Linotype', serif;
    font-size: 30px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.buttonn {
    /*Button*/
    border-radius: 20px;
    background-color: slateblue;
    padding: 15px 32px;
    vertical-align: middle;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 150px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.24),0 12px 30px 0 rgba(0,0,0,0.19);

    /*Text*/
    font-family: Courier, monospace;
    font-size: 1.7rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.buttonn:hover {;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

/*Template ends here*/