<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Post's name: {{post.title}}</h1>
    <ul>
      <li>Date : {{post.date}}</li>
      <li>Time : {{post.time}}</li>
      <li>Departure State: {{post.departure_state}}</li>
      <li>Destination State: {{post.destination_state}}</li>
      <li>Destination City : {{post.destination_city}}</li>
      <li>Avaliable Bag Space: {{post.bags}}</li>
      <li>Seats Avaliable :{{post.seats}}</li>
      <li>Price per Seat : {{post.price}}</li>
      <li>Seats Avaliable :{{post.seats}}</li>
    </ul>

    <form method = "post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="CONFIRM">
    </form>

</body>
</html>