<!DOCTYPE html>

<html lang="en">
<head>

    <meta charset="utf-8">
    <title>TRYP</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap-theme.css">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>


</head>
<body>

<style>
    
.middle h {
    position: absolute;
    left: 550px;
    font-family: 'OogieBoogie', "Palatino Linotype", monospace;
    font-size: 20rem;
    font-weight: 300;
    color: hotpink;
    text-shadow: 1px 1px 3px white;
    }    
    
</style>

<!--Template starts-->
    
<div class="container">
    
    <!--App logo-->
    <div class ="logo">
        <img src="/static/transBG.png">
        <h1>T.R.Y.P</h1>
        <p>Are you tryppin'? </p>
    </div>
    
<!--Template ends-->

<!--------------------------------YOUR CODE STARTS HERE-------------------------------->
    <!--Account options-->
    <div class ="middle">
    <br>
    <br>
    <br>
    <br>
        <h>Successful!</h>
    </div>

<!--------------------------------YOUR CODE ENDS HERE-------------------------------->
    
<!--Template starts-->
    
    <!--About section-->
    
<!--Template ends-->


    
</div>

</body>
</html>
